@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

* { 
	margin: 0 ;

	color:white;
}


header {

	height: 100px;
	width: 100%;
	background-color: #b3e6ff; 
} 

nav {
	float: right;
}
nav>ul li {
	list-style-type: none;
	display: inline-grid;
	padding-top: 30px;
	padding-right: 50px;
	font-size: 20px;
	

}

a:link {
	text-decoration: none;
	color: white;
}

a:hover {
	color:  #00a3cc;
}

#logo{
	margin: 20px;
	float: left;
	width: 200px;
	height: 60px;
	background: url(img/RD.png);
	background-repeat: no-repeat;
	background-position: center;
}
	
body {max-width: 100%;
	font-family: 'Alegreya',sans-serif;
	background-size: 100%;
	background-position: center;
	background-color: #b3e6ff;}

.banner {
	width: 100%;
}
/*---end of header---*/
#html{
	background-color: #ff8566;
	width: 25%;
	text-align: center;
	font-size: 110%;
	padding-bottom: 20px;
	color: white;
	 
}

#css{
	
	background-color: #b3d9ff;
	width: 25%;
	color: white;
	text-align: center;
	font-size: 110%;
	padding-bottom: 20px;
}

#seo{
	
	color: white;
	background-color: #99ff99;
	width: 25%;
	text-align: center;
	font-size: 110%;
	padding-bottom: 20px;
border-left: solid 1px;}


#social{
	color: white;
	background-color:#e6ffe6; 
	width: 25%;
	text-align: center;
	font-size: 110%;
	padding-bottom: 20px;
}

#html>i {
	font-size: 500%;
	padding: 10px;
}

#css>i{
	font-size: 500%;
	padding: 10px;
}

#seo>i{
	font-size: 500%;
	padding: 10px;
}

#social>i {
	font-size: 500%;
	padding: 10px;
}

#onef {
	display: inline-flex;
	width: 100%;
}
/*---finished one fourth---*/
#pad {
	float: left;
	width: 100%;
}
#padimg  {
	padding-top: 20px;
	width: 50%;
	height: auto;
	float:left;
}

#pad-text {
	background-color: #80aaff;
	width: 50%;
	font-size: 110%;
	float:right;
	height: auto;
}

#mobile {
	float: left;
	width: 100%;
}
#mobtext {
	background-color: #80aaff;
	width: 50%;
	float: left; 
	font-size: 110%;
}
#mob
{
	padding-top: 16px;
	width: 50%;height: auto;
	float: right;
}


#desk {
	float: left;
	width: 100%;
	border-bottom: 25px ;

}

#deskimg {
	
	width: 50%;height: auto;
	float: left;
	margin-bottom: 0 auto;
}

#desktext {
	float: right;
	width: 50%;
	font-size: 105%;
	background-color: #80aaff;
	}


#hand {
	padding-top: 50px;
	width: 50%;

}


h2,h1 {
	padding:10px;
	text-align: center;
}

#desktop {
	width: 50%;
	padding-top: 50px;
}

#one3 {
	display: inline-flex;
	width: 100%;
	font-family: 'Alegreya',sans-serif;
}

#google {
	background-color:#ffbb99 ;
	border:2px solid #a6a6a6;

}

#market {
	background-color:#cce6ff ; border:2px solid #a6a6a6; 
}

#cust {
	border:2px solid #a6a6a6;
	background-color:  #99ff99 ;

}

p { margin: 10px;
	font-family: 'Alegreya',sans-serif;
	line-height: 150%;
}

/*---*/

#net {
	font-size: 500%;
	display: inline-flex;
	background-color:#666699;
	width: 100%;

}

#fb {padding: 5% 15% 5% 10%;
	color: #c3d7df;
	

}

#g {padding: 5% 15% 5% 4%;
	color: #c3d7df;
	

}

#tw{
	padding: 5% 15% 5% 4%;
	color: #c3d7df;
	
}
#yt {
	padding: 5% 15% 5% 4%;
	color: #c3d7df;
}

footer p {
	text-align: center;
	font-size: 150%;
	padding: 10px;
	margin-bottom: 0;
}

footer {
	background-color:#666699;

}

i:hover {
	color: #a6a6a6;

}